/* This file contains all SASS variables */

// Font Variables
$font-poppins: 'Poppins';

// Color Variables
$text-color: #676767;

$primary-color: #ff841b;
$secondary-color: #001a53;

// Custom Color Variables
$white: #fff;
$black: #000;

$white-100: #fafafa;

$gray-100: #9b9b9b;
$gray-200: #eaeaea;
$gray-300: #c3c3c3;
$gray-400: #c6c6c6;

$orange-100: #cf6d17;